@{ 

}

<footer class="footer-1">
    <div class="footer-top">
        <div class="container">
            <div class="service-box-list">
                <div class="row">
                    <div class="col-3">
                        <div class="service-box">
                            <img src="~/ProductPictures/guaranty.svg" title="ضمانت اصل بودن کالا">
                            <span class="title">ضمانت اصل بودن کالا</span>
                            <span class="subtitle">تضمین اصالت و گارانتی</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="service-box">
                            <img src="~/ProductPictures/cart-return.svg" title="ضمانت بازگشت">
                            <span class="title">ضمانت بازگشت</span>
                            <span class="subtitle">بازگرداندن کالا در ۷ روز</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="service-box">
                            <img src="~/ProductPictures/delivery-fast.svg" title="تحویل اکسپرس">
                            <span class="title">تحویل اکسپرس</span>
                            <span class="subtitle">۲۴ ساعته در تهران</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="service-box">
                            <img src="~/ProductPictures/hand-card.svg" title="پرداخت امن">
                            <span class="title">پرداخت امن</span>
                            <span class="subtitle">درگاه پرداخت مطمئن</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container">
            <div class="section-top">
                <div class="row">
                    
                        <div class="FlexBox">
                            <!--home-->
                            <div>
                                <a class="page_23985 c-1995">راهنمای خرید از بندرموبایل</a>
                                <ul data-tracking-id="footer_topsection_buy_instruction" data-gtm-vis-first-on-screen10975936_333="806555" data-gtm-vis-total-visible-time10975936_333="100" data-gtm-vis-has-fired10975936_333="1">
                                    <li><a class="page_287375 c-1995" href="/Article/%D8%AB%D8%A8%D8%AA-%D8%B3%D9%81%D8%A7%D8%B1%D8%B4">ثبت سفارش</a></li>
                                    <li><a class="page_287376 c-1995" href="/Article/%D8%B1%D9%88%DB%8C%D9%87-%D8%A7%D8%B1%D8%B3%D8%A7%D9%84-%D8%B3%D9%81%D8%A7%D8%B1%D8%B4%D8%A7%D8%AA">رویه ارسال سفارشات</a></li>
                                    <li>
                                        <a class="page_287377 c-1995" href="/Article/%D9%BE%DB%8C%DA%AF%DB%8C%D8%B1%DB%8C-%D8%B3%D9%81%D8%A7%D8%B1%D8%B4">پیگیری سفارش</a>
                                    </li>
                                    <li><a class="page_287378 c-1995" href="/Article/%D8%B1%D8%A7%D9%87%D9%86%D9%85%D8%A7%DB%8C-%D9%BE%D8%B1%D8%AF%D8%A7%D8%AE%D8%AA">راهنمای پرداخت</a></li>
                                </ul>
                            </div>
                            <div>
                                <a class="page_287379 c-1995">خدمات مشتریان</a>
                                <ul data-tracking-id="footer_topsection_customer_service" data-gtm-vis-first-on-screen10975936_333="806636" data-gtm-vis-total-visible-time10975936_333="100" data-gtm-vis-has-fired10975936_333="1">
                                    <li><a class="page_287380 c-1995" href="/Article/%D9%BE%D8%A7%D8%B3%D8%AE-%D8%A8%D9%87-%D8%B3%D9%88%D8%A7%D9%84%D8%A7%D8%AA-%D9%85%D8%AA%D8%AF%D8%A7%D9%88%D9%84">پاسخ به سوالات متداول</a></li>
                                    <li><a class="page_287381 c-1995" href="/Article/%D8%B1%D9%88%DB%8C%D9%87-%D8%A8%D8%A7%D8%B2%DA%AF%D8%B1%D8%AF%D8%A7%D9%86%D8%AF%D9%86-%DA%A9%D8%A7%D9%84%D8%A7">رویه بازگرداندن کالا</a></li>
                                    <li>
                                        <a class="page_287382 c-1995" href="/Article/%D8%B4%D8%B1%D8%A7%DB%8C%D8%B7-%D8%A7%D8%B3%D8%AA%D9%81%D8%A7%D8%AF%D9%87">شرایط استفاده</a>
                                    </li>
                                    <li>
                                        <a class="page_287383 c-1995" href="/Article/%D8%AD%D8%B1%DB%8C%D9%85-%D8%AE%D8%B5%D9%88%D8%B5%DB%8C">حریم خصوصی</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <a class="page_287384 c-1995">بندرموبایل</a>
                                <ul data-tracking-id="footer_topsection_janebi" data-gtm-vis-first-on-screen10975936_333="806650" data-gtm-vis-total-visible-time10975936_333="100" data-gtm-vis-has-fired10975936_333="1">
                                    <li><a class="page_287385 c-1995" href="/Article/%D8%AF%D8%B1%D8%A8%D8%A7%D8%B1%D9%87-%D8%A8%D9%86%D8%AF%D8%B1%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">درباره بندرموبایل</a></li>
                                    <li><a class="page_287386 c-1995" href="/Article/%D8%AA%D9%85%D8%A7%D8%B3-%D8%A8%D8%A7-%D8%A8%D9%86%D8%AF%D8%B1%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">تماس با بندرموبایل</a></li>
                                    <li>
                                        <a class="page_287387 c-1995" href="/Article/%D9%87%D9%85%DA%A9%D8%A7%D8%B1%DB%8C-%D8%A8%D8%A7-%D8%A8%D9%86%D8%AF%D8%B1%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">همکاری با بندرموبایل</a>
                                    </li>
                                    <li>
                                        <a class="page_287388 c-1995" href="/Article/%D8%B4%D9%85%D8%A7%D8%B1%D9%87-%D8%AD%D8%B3%D8%A7%D8%A8-%D9%87%D8%A7%DB%8C-%D8%A8%D9%86%D8%AF%D8%B1%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">شماره حساب&zwnj;های بندرموبایل</a>
                                    </li>
                                    <li>
                                        <a class="page_287389 c-1995" href="/Article/%D9%88%D8%A8%D9%84%D8%A7%DA%AF-%D8%A8%D9%86%D8%AF%D8%B1%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">وبلاگ بندرموبایل</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    
                   
                </div>
            </div>
            <div class="section-bottom">
                <div class="row">
                    <div class="col-lg">
                        <div class="footer-contact">
                            <div>
                                <span>پاسخگوی شما هستیم:</span>
                                <span>شنبه تا چهارشنبه</span>
                                <span class="green-text">۹-۱۷</span>
                                <span>. پنج شنبه</span>
                                <span class="green-text">۹-۱۴</span>
                            </div>
                            <div class="FlexBox contact-data">

                                <div>
                                    <div class="information">
                                        <ul>
                                            <li data-tracking-id="footer_bottomsection_contactus" data-gtm-vis-first-on-screen10975936_333="806699" data-gtm-vis-total-visible-time10975936_333="100" data-gtm-vis-has-fired10975936_333="1"><i class="fa fa-2x fa-mobile"></i><a href="tel:021-62999977">09174679790</a></li>
                                            <li data-tracking-id="footer_bottomsection_email" data-gtm-vis-first-on-screen10975936_333="806718" data-gtm-vis-total-visible-time10975936_333="100" data-gtm-vis-has-fired10975936_333="1"><i class="fa fa-2x fa-mail-forward"></i><a href="mailto:info@bndmobile.ir">mojtabajahanpoor@gmail.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>

                                    <ul data-tracking-id="footer_bottomsection_socials" class="social" data-gtm-vis-first-on-screen10975936_333="806733" data-gtm-vis-total-visible-time10975936_333="100" data-gtm-vis-has-fired10975936_333="1">
                                        <li><a rel="nofollow" target="_blank" title="تلگرام جانبی" href="https://t.me/janebi_com" class="icon-social icon-telegram"><i class=" fa fa-2x fa-telegram"></i></a></li>
                                        <li><a rel="nofollow" target="_blank" title="اینستاگرام جانبی" href="https://instagram.com/janebi.ir" class="icon-social icon-instagram"><i class=" fa fa-2x fa-instagram"></i></a></li>
                                        <li><a rel="nofollow" target="_blank" title="توییتر جانبی" href="https://twitter.com/janebi_com" class="icon-social icon-twitter"><i class=" fa fa-2x fa-twitter"></i></a></li>
                                        <li><a rel="nofollow" target="_blank" title="ایمیل جانبی" href="mailto:mailto:info@bndmobile.ir" class="icon-social icon-email"><i class=" fa fa-2x fa-mail-forward"></i></a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    @*<div class="col-lg-auto">

                        <div class="namads">
                            </div>

                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-text">
                <p>
                    فروشگاه اینترنتی تخصصی بندرموبایل
                    <br />
                    زمان یکی از با ارزش ترین سرمایه های انسانی است که باید از آن به بهترین نحو ممکن استفاده شود. اهمیت زمان آنقدر برای بشر شناخته شده بود که همواره سعی داشته و دارد، تا برای رسیدن به اهداف خود کوتاه ترین مسیر را انتخاب کند. مسیری که او را زودتر به هدف مورد نظر خود برساند. در سال های اخیر با فراگیر شدن گجت های هوشمند مثل موبایل، تبلت و یا ابزارهای الکترونیکی دیگر مثل لپ تاپ، دوربین، کنسول بازی و... سبب شد شاخه ای جدید در بازار شکل بگیرد که هدف از آن رفع نیازهای جانبی از گروه محصولات باشد.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row last-row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="copyright-area">
                        استفاده از مطالب   <a href="https://bndmobile.ir" title="بندرموبایل">فروشگاه اینترنتی بندرموبایل</a>  فقط برای مقاصد غیر تجاری و با ذکر منبع بلامانع است. کليه حقوق اين سايت محفوظ می&zwnj;باشد
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="licence-area">
                        <span> ساخته شده توسط <a href="https://bndweb.ir">بندروب</a></span>
                        @*<a href="https://bndweb.com">
                            <img src="/src/themes/theme_8/80011/img/bndweb.svg" alt="bndweb">
                        </a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>