@page
@model ServiceHost.Pages.IpgModel
@{
}
<form id="form1" method="POST" style="height:500px;">

    <center>
        <fieldset style="width:400px; direction:rtl; font-family:Tahoma; font-size:12px; background-color:yellow">
            <legend></legend>
            <a id="Link1" href="http://localhost:800/test/index.php">صفحه اصلی</a>
        </fieldset>
        <fieldset style="width:400px; height:200px; direction:rtl; background-color:DeepSkyBlue;">
            <legend style="font-family:Tahoma; font-size:14px">تراکنش خرید و برگشت</legend>
            <table style="font-family:Tahoma; font-size:12px; direction:rtl">
                <tr>
                    <td>
                        <label id="Label2" title="مبلغ خرید*">مبلغ خرید*</label>
                    </td>
                    <td>
                        <input type="text" id="Amount" name="Amount" width="250px" value="10000" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="Label3" title="شناسه خرید (ResNum)*">شناسه خرید (ResNum)*</label>
                    </td>
                    <td>
                        <input type="text" id="ReserveNum" name="ReserveNum" width="250px" value="10" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="Label4" title="کد پذیرندگی (MID)*">کد پذیرندگی (MID)*</label>
                    </td>
                    <td>
                        <input type="text" id="MerchantId" name="MerchantId" width="250px" value="41726609" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="Label5" title="آدرس برگشت*">آدرس برگشت*</label>
                    </td>
                    <td>
                        <input type="text" id="RedirectURL" name="RedirectURL" value="https://bndplus.ir/Approve"
                               width="250px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="Label6" title="زبان">زبان</label>
                    </td>
                    <td>
                        <input type="radio" id="فارسی" value="fa" name="language" width="100px" checked="checked" />فارسی
                        <input type="radio" id="انگلیسی" value="en" name="language" width="100px" />انگلیسی
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="Label4" title="userId">userId</label>
                    </td>
                    <td>
                        <input type="text" id="userId" name="userId" width="250px" value="1" />
                    </td>
                </tr>
                <tr>
                    <td>

                        <input type="submit" value="خرید اینترنتی" name="submit" style="font-size: 12px; font-family: tahoma" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    </center>
</form>

