@page
@model ServiceHost.Areas.Customer.Pages.Account.IndexModel
@{
}

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "حساب کاربری";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        
    </div>
</div>


<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div>
                    <p>@Model.Command.Fullname</p>
                    <p>@Model.Command.Mobile</p>
                    <p>@Model.Command.Username</p>

                </div>
            </div>
        </div>
    </div>
</div>

