
@model AddressManagement.Application.Contracts.Address.EditAddress
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">آدرس</h4>
</div>

<div class="modal-body">    
    <div>
        <p>@Model.Description</p>
    </div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>
